.card
    margin-top: 1.5rem
    width: 80vw
    height: 6rem
    padding: 1rem 1.5rem 1.5rem 1.5rem
    border-radius: 10px
    margin-left: auto
    margin-right: auto
    display: flex
    flex-direction: column
    justify-content: center

    .valor
        font-size: 24px
        color: #ffffff
