<div class="top">
    <i routerLink="" routerLinkActive="active" class="fa-solid fa-arrow-left fa-lg"
        style="color: #ffffff; cursor: pointer;"></i>
    <h2>Suas carteiras</h2>
    <app-carteira />
</div>
<div class="card">
    <h2>Transações</h2>
    @for(transacao of usuario.info.transacoes; track $index){
    <div class="transacao">
        <div class="transacao-esquerda">
            @if(transacao.ehDespesa){
            <i class="fa-solid fa-arrow-down" style="color: #F75A68;"></i>
            }
            @if(!transacao.ehDespesa){
            <i class="fa-solid fa-arrow-up" style="color: #28B446;"></i>
            }
            <div class="transacao-info">
                <p class="nome">{{transacao.nome}}</p>
                <p class="categoria">{{transacao.categoria}}</p>
            </div>
        </div>
        <div class="transacao-direita">
            @if(transacao.ehDespesa){
            <p style="color: #F75A68;">- {{usuario.Real.format(transacao.valor)}}</p>
            }
            @if(!transacao.ehDespesa){
            <p style="color: #28B446;">+ {{usuario.Real.format(transacao.valor)}}</p>
            }
        </div>
    </div>
    }
</div>