.card
    border-radius: 1.25rem 1.25rem 0rem 0rem
    background: rgba(39, 42, 50, 0.54)
    width: 100vw
    height: 60vh
    flex-shrink: 0
    position: absolute
    bottom: 0
    padding-top: 1rem

h2
    color: #FFF
    font-size: 0.875rem
    font-style: normal
    font-weight: 400
    margin-bottom: 1rem
    line-height: normal
    text-align: center

.carteiras
    width: 13rem
    margin-left: auto
    margin-right: auto
    .carteira
        background: linear-gradient(270deg, #878787 0%, #EAEAEA 100%)
