.card
    border-radius: 1.25rem 1.25rem 0rem 0rem
    background: rgba(39, 42, 50, 0.54)
    width: 100vw
    height: 60vh
    flex-shrink: 0
    position: absolute
    bottom: 0
    padding-top: 1rem

.top
    i
        position: absolute
        left: 2rem
        top: 2.3rem

h2
    color: #FFF
    font-size: 0.875rem
    font-style: normal
    font-weight: 400
    margin-bottom: 1rem
    line-height: normal
    text-align: center

.transacao
    display: flex
    width: 18.75rem
    height: 1.875rem
    flex-shrink: 0
    justify-content: space-between
    align-items: center
    margin-left: auto
    margin-right: auto
    margin-bottom: 1.5rem

    .transacao-esquerda
        display: flex
        align-items: center

        i
            margin-right: 1rem

        .transacao-info

            .nome
                color: #FFF
                font-size: 0.75rem
                font-style: normal
                font-weight: 700
                line-height: normal

            .categoria
                color: #6B6B6B
                font-size: 0.75rem
                font-style: normal
                font-weight: 400
                line-height: normal

    .transacao-direita
        p
            font-size: 0.75rem
            font-style: normal
            font-weight: 700
            line-height: normal
