h1
    margin-left: auto
    margin-right: auto
    width: 80vw

.carteiras
    display: flex
    overflow-y: auto
    margin-top: 1.5rem
    padding-right: 1rem

    .carteira
        margin-left: 1.5rem

.botoes
    margin-top: 1.5rem
    width: 90vw
    margin-left: auto
    margin-right: auto
    display: flex
    justify-content: space-around
