<div class="modal">
    <h2>Criar transação</h2>
    <i (click)="modal.abrirCriarTransacao()" class="fechar fa-solid fa-x" style="color: #ffffff;"></i>
    <form (submit)="enviarTransacao($event)">
        <div class="form-campo">
            <label for="nomeTransacao">Nome: </label>
            <input required id="nomeTransacao" name="nomeTransacao" placeholder="Ração para gato"
                [(ngModel)]="transacao.nome" />
        </div>
        <div class="form-campo">
            <label for="categoriaTransacao">Categoria: </label>
            <input required id="categoriaTransacao" name="categoriaTransacao" placeholder="Pets"
                [(ngModel)]="transacao.categoria" />
        </div>
        <div class="form-campo">
            <label for="dataTransacao">Data: </label>
            <input required id="dataTransacao" type="date" name="dataTransacao" [(ngModel)]="transacao.data" />
        </div>
        <div class="form-campo">
            <label for="valorTransacao">Valor: </label>
            <input required id="valorTransacao" style="width: 5rem;" type="number" min="1" step="any"
                name="valorTransacao" placeholder="R$ 40,00" [(ngModel)]="transacao.valor" />
        </div>
        <div class="form-campos-radio">
            <p style="font-size: 10px;">TIPO DE TRANSAÇÃO: </p>

            @for(tipo of tiposTransacao; track $index){
            <div class="form-campo">
                <input required id="{{tipo}}Transacao" type="radio" name="tipoTransacao" [value]="tipo"
                    [(ngModel)]="transacao.tipo" />
                <label for="tipoTransacao">{{tipo}}</label>
            </div>
            }

        </div>
        <div class="botao-confirmar">
            <button type="submit">Confirmar</button>
        </div>
    </form>
</div>