<div class="modal">
    <h2>Criar transação</h2>
    <i (click)="modal.abrirCriarTransacao()" class="fechar fa-solid fa-x" style="color: #ffffff;"></i>
    <form (submit)="enviarTransacao($event)" [formGroup]="transacaoForm" #formDir="ngForm">

        <div class="form-group">
            <label for="nomeTransacao">Nome: </label>
            <input required id="nomeTransacao" name="nomeTransacao" placeholder="Ração para gato"
                formControlName="nome" />
            <div *ngIf="nome.invalid && formDir.submitted" class="erro-validacao">
                <p>Nome é obrigatório!</p>
            </div>
        </div>

        <div class="form-group">
            <label for="categoriaTransacao">Categoria: </label>
            <input required id="categoriaTransacao" name="categoriaTransacao" placeholder="Pets"
                formControlName="categoria" />
            <div *ngIf="categoria.invalid && formDir.submitted" class="erro-validacao">
                <p>Categoria é obrigatório!</p>
            </div>
        </div>

        <div class="form-group">
            <label for="carteiraTransacao">Carteira: </label>
            <select required id="carteiraTransacao" name="carteira" formControlName="carteira">
                <option *ngFor="let carteira of usuario.info.carteiras" [value]="carteira.objetivo">
                    {{carteira.objetivo}}
                </option>
            </select>
            <div *ngIf="carteira.invalid && formDir.submitted" class="erro-validacao">
                <p>Carteira é obrigatório!</p>
            </div>
        </div>

        <div class="form-group">
            <label for="dataTransacao">Data: </label>
            <input required id="dataTransacao" type="date" name="dataTransacao" formControlName="data" />
            <div *ngIf="data.invalid && formDir.submitted" class="erro-validacao">
                <p>Data é obrigatório!</p>
            </div>
        </div>

        <div class="form-group">
            <label for="valorTransacao">Valor: </label>
            <input required id="valorTransacao" style="width: 5rem;" type="number" min="1" step="any"
                name="valorTransacao" placeholder="R$ 40,00" formControlName="valor" />
            <div *ngIf="valor.invalid && formDir.submitted" class="erro-validacao">
                <p>Valor é obrigatório!</p>
            </div>
        </div>

        <div class="form-group-radio">
            <p style="font-size: 10px;">TIPO DE TRANSAÇÃO: </p>
            @for(tipo of tiposTransacao; track $index){
            <div class="form-group">
                <input required id="{{tipo}}Transacao" type="radio" name="tipo" [value]="tipo" formControlName="tipo" />
                <label for="{{tipo}}Transacao">{{tipo}}</label>
            </div>
            }

            <div *ngIf="tipo.invalid && formDir.submitted" class="erro-validacao">
                <p>Tipo de transação é obrigatório!</p>
            </div>
        </div>

        <div class="botao-confirmar">
            <button type="submit">Confirmar</button>
        </div>
    </form>
</div>