.alinhar-card-botao{
  display: flex;
  align-items: center;
  min-width: 375px;
  margin-bottom: 1.5rem;
}

app-botao-adicionar,
app-botao-historico{
  width: 2.5rem;
  height: 2.5rem;

}

app-saldo,
app-gasto-desse-mes{
  width: 10rem;
  margin-left: 1.5rem;
  margin-right: 7rem;
}
