.carteira
    width: 13rem
    height: 6.875rem
    flex-shrink: 0
    border-radius: 1.25rem
    padding-left: 1rem
    background: linear-gradient(270deg, #878787 0%, #EAEAEA 100%)

    img
        width: 2.98963rem
        height: 2.98963rem
        flex-shrink: 0

    .objetivo
        color: #272A32
        font-family: Poppins
        font-size: 0.625rem
        font-style: normal
        font-weight: 400
        line-height: normal

    .valor
        color: #272A32
        font-size: 1rem
        font-style: normal
        font-weight: 700
        line-height: normal
